<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="C:\Users\Maisie\Desktop\wos\style.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="C:\Users\Maisie\Desktop\wos\gdocs.js"></script>
    <script src="C:\Users\Maisie\Desktop\wos\helper.js"></script>
    <script src="C:\Users\Maisie\Desktop\wos\workout.js"></script>
    <script src="C:\Users\Maisie\Desktop\wos\app.js"></script>
    <script src="C:\Users\Maisie\Desktop\wos\components\movements.js"></script>
    <script src="C:\Users\Maisie\Desktop\wos\components\numberinput.js"></script>
    <script src="C:\Users\Maisie\Desktop\wos\components\workoutviewer.js"></script>
    <script src="C:\Users\Maisie\Desktop\wos\components\savedcombinations.js"></script>
    <script src="C:\Users\Maisie\Desktop\wos\angularslidables.js"></script>
    <script src="C:\Users\Maisie\Desktop\wos\components\editabletextbox.js"></script>
    <!--<script src="https://apis.google.com/js/client.js?onload=checkAuth"></script>-->
</head>

<body>
<div ng-app="myApp" ng-controller="myCtrl as ct">
    <div slide-toggle="#mnu" class="menu-button">O</div>
    <div id="mnu" class="slideable" duration="0.5s">
        <div ng-click="updateMode('view-mos')">View/Edit Movements</div>
        <div ng-click="updateMode('saved-combs')">Saved Combinations</div>
        <div ng-click="updateMode('add-wos')">Add New Workout</div>
        <div ng-click="updateMode('view-wos')">View Workouts</div>
    </div>
    <!--<div ng-click="auth()">Click me</div>-->
    <div ng-switch on="appmode">
        <div ng-switch-when="view-mos">
            <div class="movements ilblock">
                <movements editable="true" />
            </div>
        </div>
        <div ng-switch-when="add-wos" class="add-wos">
            <div class="movements ilblock">
                <movements workout-on-click="addMovToWorkout(movement)" editable="false" />
            </div>
            <div>
                <h2>Workout</h2>
                <div>
                    <input type="date" ng-model="date" />
                    <div ng-click="setNow()">Now</div>
                    <div ng-click="startNew()">Start</div>
                </div>
                <div class="workouts ilblock" ng-show="workout.date">
                    <span>{{displayDate(workout.date)}}</span>
                    <span ng-click="clearWorkout()">Clear list</span>
                    <ul>
                        <li ng-repeat="section in workout.sections">
                            <span ng-click="removeSectionFromWorkout($index)" class="remove">X</span>
                            <span class="movement-name">{{section.movement.name}}</span>
                            <number-input number="section.weight" increment="section.movement.increment" class="weight"></number-input>
                            <number-input number="section.sets" class="sets"></number-input>
                            <number-input number="section.reps" class="reps"></number-input>
                        </li>
                        <div ng-click="saveWorkouts()">save</div>
                    </ul>
                </div>
            </div>
        </div>
        <div ng-switch-when="saved-combs" class="add-wos">
            <div class="movements ilblock">
                <movements workout-on-click="addMovToSelectedComb(movement)" editable="false" />
            </div>
            <div>
                <div ng-click="createNewCombination()">New</div>
                <div class="ilblock" ng-show="selectedCombination">
                <h2>Selected Combination</h2>
                <input ng-model="selectedCombination.name" />
                    <div ng-repeat="section in selectedCombination.sections">
                        <span ng-click="removeSectionFromSelectedCombination($index)" class="remove">X</span>
                        <span class="movement-name">{{section.movement.name}}</span>
                        <number-input number="section.weight" increment="section.movement.increment" class="weight"></number-input>
                        <number-input number="section.sets" class="sets"></number-input>
                        <number-input number="section.reps" class="reps"></number-input>
                    </div>
                    <div ng-click="saveCombination()">Save</div>
                </div>
                <saved-combinations on-select-combination="selectCombination(index)" />
            </div>
        </div>
        <div ng-switch-when="view-wos">
            <workout-viewer />        
        </div>
    </div>
</div>
</body>

</html>