body{
	font-family:Arial;
    -webkit-user-select: none;
    background-color: #9682ba;
    color: #fff;
}

.arrow {
    height: 7px;
    display: block;
}

.menu-button {
    font-weight: bold;
}

#mnu {
    padding-left: 10px;
    background: #ccc;
    font-weight: bold;
}

#mnu div {
    padding-top: 5px;
    padding-bottom: 5px;
    color: #13acb5;
}

number-input div {
    display:inline-block;
}

number-input > div {
    width: 40px;
}

.ilblock {
    display: inline-block;
}

.headers {
    padding-left: 52px;
    font-weight: bold;
}

.movement-name{
    width: 200px;
    display: inline-block;
}

.movement-name input,
.movement-incr input, 
.movement-weight input{
    width: 100%;
}

.movement-incr, 
.movement-weight {
    width: 40px; 
    display: inline-block;
}

.remove {
    color: red;
    font-weight: bold;
}

.arrows {
    float: right;
}

.section-desc{
    margin-left: 20px;
}

.add-wos > div{
    display: inline-block;
}