body{
	font-family:Arial;
    -webkit-user-select: none;
}

.arrow {
    height: 7px;
    display: block;
}

number-input div {
    display:inline-block;
}

number-input > div {
    width: 40px;
}

.ilblock {
    display: inline-block;
}

.headers {
    padding-left: 52px;
    font-weight: bold;
}

.movement-name{
    width: 200px;
    display: inline-block;
}

.movement-incr, 
.movement-weight {
    width: 40px; 
    display: inline-block;
}

.remove {
    color: red;
    font-weight: bold;
}

.arrows {
    float: right;
}

.section-desc{
    margin-left: 20px;
}